.addmenu-container {
  font-family: "Inter", sans-serif;
  margin-bottom: 5vh;

  // background-color: red;

  form {
    // padding: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 20vw;
    background-color: beige;
  }
}
